<div class="space-y-6">
  <%= render TableComponent.new(rows: @snapshots, pagy: @pagy) do |table| %>
    <% table.with_column(name: "Fecha", classes: "text-left font-medium text-gray-900") do |snapshot| %>
      <%= snapshot.extraction_date %>
    <% end %>

    <% table.with_column(name: "Total", classes: "text-left text-gray-700") do |snapshot| %>
      <%= clp(snapshot.nav) %>
    <% end %>

    <% table.with_column(name: "Ganancia", classes: "text-left text-green-600") do |snapshot| %>
      <%= clp(snapshot.profit) %>
    <% end %>
  <% end %>
</div>
