<div class="space-y-6">
  <table class="min-w-full text-md text-left text-gray-500 mt-6">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th class="px-6 py-3">Fecha</th>
        <th class="px-6 py-3">Total</th>
        <th class="px-6 py-3">Ganancia</th>
      </tr>
    </thead>
    <tbody>
      <% @snapshots.each do |snapshot| %>
        <tr>
          <td class="border p-2 text-center"><%= l(snapshot.extraction_date) %></td>
          <td class="border p-2 text-right"><%= clp(snapshot.nav) %></td>
          <td class="border p-2 text-right"><%= clp(snapshot.profit) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-6 flex justify-center">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
</div>
