<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="mb-8">
    <h1 class="mt-1 text-3xl font-bold tracking-tight text-slate-900"><%= @title %></h1>
    <p class="mt-2 text-base text-slate-600"><%= @description %></p>
  </div>

  <div class="space-y-8">
    <%= content %>
  </div>
</section>
