<div class="overflow-hidden bg-white shadow rounded-xl">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <% columns.each do |column| %>
          <th scope="col" class="px-4 py-3 text-xs font-medium text-gray-600 uppercase tracking-wider <%= column.classes %>">
            <%= column.name %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% records.each do |row| %>
        <tr>
          <% columns.each do |column| %>
            <%= column.call(row) %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if pager && pager.pages > 1 %>
  <div class="mt-6 flex justify-center">
    <%== pager.series_nav %>
  </div>
<% end %>
