@import "tailwindcss";
@import "./components/_pagy.css";
@import "tippy.js/dist/tippy.css";
@import "@fontsource/inter/index.css";

@layer base {
  html { font-family: Inter, system-ui, sans-serif; }
}
