<div class="max-w-3xl mx-auto mt-10 px-4">
  <h1 class="text-2xl font-bold mb-6 block"><%= @goal.name %></h1>

  <div class="bg-white shadow rounded p-2 flex place-content-around">
    <p class="text-lg">
      <strong>Disponible:</strong>
      <span><%= clp(@snapshot.nav) %></span>
    </p>

    <p class="text-lg">
      <strong>Ganancia:</strong>
      <%= clp(@snapshot.profit) %>
    </p>
  </div>
  <div id="snapshots-table">
    <%= render(GoalSnapshotsTableComponent.new(snapshots: @snapshots, pagy: @pagy)) %>
  </div>
</div>
